.social-part .fa{
    padding-right:20px;
}
ul li a{
    margin-right: 20px;
}

 /* estilo carrusel */
    .carousel-inner img {
        width: 100%;
    height: 735px;
      
    }

    #h
    {
      color: black;
    }

    #p
    {
      color: black;
    }
    #h2{
    color:white;}

body{
	background: black;
}
    